# macOS files ----
.DS_Store

# Large files ----
.git
renv/library
renv/local

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# Pipeline results and local environment ----
_targets/
outputs/*
!outputs/README.md
.quarto/
.Rprofile
rv/
